<h1>Edit Article</h1>

<%# In folder other than 'layouts' we don't need to metion the parent folder / partial file name. Just the partial
file name works %>
<%= render 'form'%>

<p>
  <%= link_to "Cancel and return to articles listing", articles_path %>
</p>