<h1>Show article details</h1>
<%# '<%=' tag with the equal sign, makes sure that the expression written is rendered as well. %>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>