@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: darkslategray !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('alpha-blog-jumbotron.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  background-color: rgba($color: darken($color: #000000, $amount: 2), $alpha: 1.0);
  // background-blend-mode: screen;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

.edit-form {
  background-color: darkkhaki;
}